In [2]:
import requests
import pandas as pd
import numpy as np

In [3]:
api_key = '4eda5e3af511b6d4892332948b84476c'

# Retrieve domain list

In [4]:
domain_list = []
url = 'https://webapi.bps.go.id/v1/api/domain/type/all/key/{}/'.format(api_key)
req_domain = requests.get(url).json()

for i in req_domain['data'][1]:
    domain_list.append(i)

In [5]:
domain_df = pd.DataFrame(domain_list)

# Subject

In [6]:
retrieve_subject = []
for i in range(1,5):
    url = 'https://webapi.bps.go.id/v1/api/list/model/subject/lang/ind/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_subject = requests.get(url).json()

    for j in req_subject['data'][1]:
        retrieve_subject.append(j)

# Static table

In [7]:
retrieve_static = []
for i in range(1, 66):
    url = 'https://webapi.bps.go.id/v1/api/list/model/statictable/lang/ind/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_static = requests.get(url).json()

    for j in req_static['data'][1]:
        retrieve_static.append(j)

In [8]:
static_table = pd.DataFrame(retrieve_static)

In [9]:
static_table.loc[static_table['subj'] == 'Komunikasi']

,table_id,title,subj_id,subj,updt_date,size,excel
235,1843,Rata-rata Persentase Waktu Penyiaran dalam Sem...,2,Komunikasi,2021-01-14 10:35:05.628328,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
236,878,Persentase Rumah Tangga yang Pernah Mengakses ...,2,Komunikasi,2021-01-14 10:30:41.601274,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
237,875,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:21:53.862129,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
238,876,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:16:57.126294,0.02 MB,https://www.bps.go.id/statictable/downloadapi....
239,877,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:11:16.092238,0.02 MB,https://www.bps.go.id/statictable/downloadapi....

# Dynamic table

## Get the variable list

In [10]:
retrieve_dynamic_var = []
for i in range(1, 142):
    url = 'https://webapi.bps.go.id/v1/api/list/model/var/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_dynamic_var = requests.get(url).json()

    for j in req_dynamic_var['data'][1]:
        retrieve_dynamic_var.append(j)

In [11]:
dynamic_table_var = pd.DataFrame(retrieve_dynamic_var)

In [12]:
dynamic_table_var.head()

,var_id,title,sub_id,sub_name,def,notes,vertical,unit,graph_id,graph_name
0,70,Persentase Penduduk Usia 5 tahun ke atas yang ...,2,Komunikasi,,"&lt;p&gt;Sumber: BPS, Survei Sosial Ekonomi Na...",1,Tidak Ada Satuan,1.0,bar
1,111,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
2,391,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
3,392,Rata-Rata Banyaknya Nomor Telepon Seluler Akti...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
4,393,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar

In [13]:
edu_var_id = dynamic_table_var.loc[dynamic_table_var['sub_name'] == 'Pendidikan']

# Education variable ID list

In [14]:
edu_var_id['var_id'].unique()

array([ 102,  205,  301,  303,  304, 1339, 1342, 1343, 1417, 1419, 1421,
       1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1439,
       1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450,
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461,
       1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1526, 1527, 1607,
       1608, 1794, 1796, 1797, 1798, 1799, 1980, 1981, 1982, 1983, 1984,
       1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000])

In [21]:
edu_var_id[['var_id', 'title']].loc[edu_var_id['var_id'] > 1993]

     var_id                                              title
867    1994  Tingkat partisipasi dalam pembelajaran yang te...
868    1996  Tingkat partisipasi remaja dan dewasa dalam pe...
869    1998  Tingkat partisipasi remaja dan dewasa dalam pe...
870    2000  Tingkat partisipasi remaja dan dewasa dalam pe...