In [77]:
import requests
import pandas as pd
import numpy as np

In [3]:
api_key = '4eda5e3af511b6d4892332948b84476c'

# Retrieve domain list

In [4]:
domain_list = []
url = 'https://webapi.bps.go.id/v1/api/domain/type/all/key/{}/'.format(api_key)
req_domain = requests.get(url).json()

for i in req_domain['data'][1]:
    domain_list.append(i)

In [5]:
domain_df = pd.DataFrame(domain_list)

In [6]:
domain_df['domain_id'].unique()

array(['0000', '1100', '1101', '1102', '1103', '1104', '1105', '1106',
       '1107', '1108', '1109', '1110', '1111', '1112', '1113', '1114',
       '1115', '1116', '1117', '1118', '1171', '1172', '1173', '1174',
       '1175', '1200', '1201', '1202', '1203', '1204', '1205', '1206',
       '1207', '1208', '1209', '1210', '1211', '1212', '1213', '1214',
       '1215', '1216', '1217', '1218', '1219', '1220', '1221', '1222',
       '1223', '1224', '1225', '1271', '1272', '1273', '1274', '1275',
       '1276', '1277', '1278', '1300', '1301', '1302', '1303', '1304',
       '1305', '1306', '1307', '1308', '1309', '1310', '1311', '1312',
       '1371', '1372', '1373', '1374', '1375', '1376', '1377', '1400',
       '1401', '1402', '1403', '1404', '1405', '1406', '1407', '1408',
       '1409', '1410', '1471', '1473', '1500', '1501', '1502', '1503',
       '1504', '1505', '1506', '1507', '1508', '1509', '1571', '1572',
       '1600', '1601', '1602', '1603', '1604', '1605', '1606', '1607',
       '1608', '1609', '1610', '1611', '1612', '1613', '1671', '1672',
       '1673', '1674', '1700', '1701', '1702', '1703', '1704', '1705',
       '1706', '1707', '1708', '1709', '1771', '1800', '1801', '1802',
       '1803', '1804', '1805', '1806', '1807', '1808', '1809', '1810',
       '1811', '1812', '1813', '1871', '1872', '1900', '1901', '1902',
       '1903', '1904', '1905', '1906', '1971', '2100', '2101', '2102',
       '2103', '2104', '2105', '2171', '2172', '3100', '3101', '3171',
       '3172', '3173', '3174', '3175', '3200', '3201', '3202', '3203',
       '3204', '3205', '3206', '3207', '3208', '3209', '3210', '3211',
       '3212', '3213', '3214', '3215', '3216', '3217', '3218', '3271',
       '3272', '3273', '3274', '3275', '3276', '3277', '3278', '3279',
       '3300', '3301', '3302', '3303', '3304', '3305', '3306', '3307',
       '3308', '3309', '3310', '3311', '3312', '3313', '3314', '3315',
       '3316', '3317', '3318', '3319', '3320', '3321', '3322', '3323',
       '3324', '3325', '3326', '3327', '3328', '3329', '3371', '3372',
       '3373', '3374', '3375', '3376', '3400', '3401', '3402', '3403',
       '3404', '3471', '3500', '3501', '3502', '3503', '3504', '3505',
       '3506', '3507', '3508', '3509', '3510', '3511', '3512', '3513',
       '3514', '3515', '3516', '3517', '3518', '3519', '3520', '3521',
       '3522', '3523', '3524', '3525', '3526', '3527', '3528', '3529',
       '3571', '3572', '3573', '3574', '3575', '3576', '3577', '3578',
       '3579', '3600', '3601', '3602', '3603', '3604', '3671', '3672',
       '3673', '3674', '5100', '5101', '5102', '5103', '5104', '5105',
       '5106', '5107', '5108', '5171', '5200', '5201', '5202', '5203',
       '5204', '5205', '5206', '5207', '5208', '5271', '5272', '5300',
       '5301', '5302', '5303', '5304', '5305', '5306', '5307', '5308',
       '5309', '5310', '5311', '5312', '5313', '5314', '5315', '5316',
       '5317', '5318', '5319', '5320', '5321', '5371', '6100', '6101',
       '6102', '6103', '6104', '6105', '6106', '6107', '6108', '6109',
       '6110', '6111', '6112', '6171', '6172', '6200', '6201', '6202',
       '6203', '6204', '6205', '6206', '6207', '6208', '6209', '6210',
       '6211', '6212', '6213', '6271', '6300', '6301', '6302', '6303',
       '6304', '6305', '6306', '6307', '6308', '6309', '6310', '6311',
       '6371', '6372', '6400', '6401', '6402', '6403', '6404', '6405',
       '6409', '6411', '6471', '6472', '6474', '6500', '6501', '6502',
       '6503', '6504', '6571', '7100', '7101', '7102', '7103', '7104',
       '7105', '7106', '7107', '7108', '7109', '7110', '7111', '7171',
       '7172', '7173', '7174', '7200', '7201', '7202', '7203', '7204',
       '7205', '7206', '7207', '7208', '7209', '7210', '7211', '7212',
       '7271', '7300', '7301', '7302', '7303', '7304', '7305', '7306',
       '7307', '7308', '7309', '7310', '7311', '7312', '7313', '7314',
       '7315', '7316', '7317', '7318', '7322', '7325', '7326', '7371',
       '7372', '7373', '7400', '7401', '7402', '7403', '7404', '7405',
       '7406', '7407', '7408', '7409', '7410', '7411', '7412', '7413',
       '7414', '7415', '7471', '7472', '7500', '7501', '7502', '7503',
       '7504', '7505', '7571', '7600', '7601', '7602', '7603', '7604',
       '7605', '7606', '8100', '8101', '8102', '8103', '8104', '8105',
       '8106', '8107', '8108', '8109', '8171', '8172', '8200', '8201',
       '8202', '8203', '8204', '8205', '8206', '8207', '8208', '8271',
       '8272', '9100', '9101', '9102', '9103', '9104', '9105', '9106',
       '9107', '9108', '9109', '9110', '9111', '9112', '9171', '9400',
       '9401', '9402', '9403', '9404', '9408', '9409', '9410', '9411',
       '9412', '9413', '9414', '9415', '9416', '9417', '9418', '9419',
       '9420', '9426', '9427', '9428', '9429', '9430', '9431', '9432',
       '9433', '9434', '9435', '9436', '9471'], dtype=object)

# Subject

In [7]:
retrieve_subject = []
for i in range(1,5):
    url = 'https://webapi.bps.go.id/v1/api/list/model/subject/lang/ind/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_subject = requests.get(url).json()

    for j in req_subject['data'][1]:
        retrieve_subject.append(j)

# Static table

In [8]:
retrieve_static = []
for i in range(1, 66):
    url = 'https://webapi.bps.go.id/v1/api/list/model/statictable/lang/ind/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_static = requests.get(url).json()

    for j in req_static['data'][1]:
        retrieve_static.append(j)

In [9]:
static_table = pd.DataFrame(retrieve_static)

In [10]:
static_table.loc[static_table['subj'] == 'Komunikasi']

,table_id,title,subj_id,subj,updt_date,size,excel
235,1843,Rata-rata Persentase Waktu Penyiaran dalam Sem...,2,Komunikasi,2021-01-14 10:35:05.628328,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
236,878,Persentase Rumah Tangga yang Pernah Mengakses ...,2,Komunikasi,2021-01-14 10:30:41.601274,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
237,875,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:21:53.862129,0.03 MB,https://www.bps.go.id/statictable/downloadapi....
238,876,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:16:57.126294,0.02 MB,https://www.bps.go.id/statictable/downloadapi....
239,877,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,2021-01-14 10:11:16.092238,0.02 MB,https://www.bps.go.id/statictable/downloadapi....

# Dynamic table

## Get the variable list

In [11]:
retrieve_dynamic_var = []
for i in range(1, 142):
    url = 'https://webapi.bps.go.id/v1/api/list/model/var/domain/0000/page/{0}/key/{1}/'.format(i, api_key)
    req_dynamic_var = requests.get(url).json()

    for j in req_dynamic_var['data'][1]:
        retrieve_dynamic_var.append(j)

In [12]:
dynamic_table_var = pd.DataFrame(retrieve_dynamic_var)

In [13]:
dynamic_table_var.head()

,var_id,title,sub_id,sub_name,def,notes,vertical,unit,graph_id,graph_name
0,70,Persentase Penduduk Usia 5 tahun ke atas yang ...,2,Komunikasi,,"&lt;p&gt;Sumber: BPS, Survei Sosial Ekonomi Na...",1,Tidak Ada Satuan,1.0,bar
1,111,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
2,391,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
3,392,Rata-Rata Banyaknya Nomor Telepon Seluler Akti...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar
4,393,Persentase Rumah Tangga yang Memiliki/Menguasa...,2,Komunikasi,,"Sumber: BPS, Survei Sosial Ekonomi Nasional (S...",1,Tidak Ada Satuan,1.0,bar

In [14]:
edu_var_id = dynamic_table_var.loc[dynamic_table_var['sub_name'] == 'Pendidikan']['var_id'].unique()

In [103]:
dynamic_table_var.loc[dynamic_table_var['sub_name'] == 'Pendidikan']

,var_id,title,sub_id,sub_name,def,notes,vertical,unit,graph_id,graph_name
797,102,Persentase Penduduk Buta Huruf,28,Pendidikan,,"Sumber: BPS-RI, Susenas 2003-2017 &lt;br /&gt;...",1,Persen,1.0,bar
798,205,Jumlah Desa yang Memiliki Fasilitas Sekolah Me...,28,Pendidikan,,1. Data tahun 2005 di Sumatera Utara tidak ter...,1,Tidak Ada Satuan,1.0,bar
799,301,Angka Partisipasi Sekolah ( A P S ),28,Pendidikan,,"- Sumber: BPS-RI, Susenas 2003-2017&lt;br /&gt...",1,Tidak Ada Satuan,1.0,bar
800,303,Angka Partisipasi Kasar ( A P K ),28,Pendidikan,,"- Sumber: BPS-RI, Susenas 2003-2017&lt;br /&gt...",1,Tidak Ada Satuan,1.0,bar
801,304,Angka Partisipasi Murni ( A P M ),28,Pendidikan,,"- Sumber: BPS-RI, Susenas 2003-2017&lt;br /&gt...",1,Tidak Ada Satuan,1.0,bar
...,...,...,...,...,...,...,...,...,...,...
866,1992,Tingkat partisipasi dalam pembelajaran yang te...,28,Pendidikan,,&lt;p&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;Sumber...,310,Tidak Ada Satuan,1.0,bar
867,1994,Tingkat partisipasi dalam pembelajaran yang te...,28,Pendidikan,,&lt;p&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;Sumber...,301,Tidak Ada Satuan,1.0,bar
868,1996,Tingkat partisipasi remaja dan dewasa dalam pe...,28,Pendidikan,,&lt;p&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;Sumber...,310,Tidak Ada Satuan,1.0,bar
869,1998,Tingkat partisipasi remaja dan dewasa dalam pe...,28,Pendidikan,,&lt;p&gt;&lt;br /&gt;&lt;/p&gt;&lt;p&gt;Sumber...,301,Tidak Ada Satuan,1.0,bar
870,2000,Tingkat partisipasi remaja dan dewasa dalam pe...,28,Pendidikan,,&lt;p&gt;Sumber Data: Susenas Modul MSBP&lt;/p...,398,Tidak Ada Satuan,1.0,bar

In [101]:
len(dynamic_table_var['sub_name'] == 'Pendidikan')

1410

## Getting for each variable_id

vervar + var + turvar +  tahun + turtahun

9999 102 232 103 0

In [15]:
url = 'https://webapi.bps.go.id/v1/api/list/model/data/domain/0000/var/{0}/key/{1}/'.format(102, api_key)
buta_huruf = requests.get(url).json()

In [60]:
print(buta_huruf['vervar'][0]['label'])

INDONESIA

In [90]:
vervar_df = pd.DataFrame(buta_huruf['vervar'])
turvar_df = pd.DataFrame(buta_huruf['turvar'])
tahun_df = pd.DataFrame(buta_huruf['tahun'])
content_df = pd.DataFrame(data={'id': buta_huruf['datacontent'].keys(), 'values': buta_huruf['datacontent'].values() })
#content_df['id'] = content_df['id'].astype('int64')

In [93]:
content_df_1 = content_df.merge(vervar_df, how='left', left_on = content_df['id'].str[:4].astype('int64'), right_on = 'val')
content_df_2 = content_df_1.merge(turvar_df, how='left', left_on = content_df_1['id'].str[7:10].astype('int64'), right_on = 'val') 
content_df_3 = content_df_2.merge(tahun_df, how='left', left_on = content_df_2['id'].str[10:13].astype('int64'), right_on = 'val')

/var/folders/j4/1cx_m7js4y55z_qpwdw7fpbw0000gn/T/ipykernel_44166/1202990850.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'val_x'} in the result is deprecated and will raise a MergeError in a future version.
  content_df_3 = content_df_2.merge(tahun_df, how='left', left_on = content_df_2['id'].str[10:13].astype('int64'), right_on = 'val')

In [98]:
buta_huruf_df = content_df_3[['id', 'values', 'label_x', 'label_y', 'label']]
buta_huruf_df.columns = ['id', 'values', 'area', 'age_breakdown', 'year']

In [99]:
buta_huruf_df.head()

               id  values       area age_breakdown  year
0  99991022321030   10.21  INDONESIA           15+  2003
1  99991022321040    9.62  INDONESIA           15+  2004
2  99991022321050    9.09  INDONESIA           15+  2005
3  99991022321060    8.55  INDONESIA           15+  2006
4  99991022321070    8.13  INDONESIA           15+  2007