In [2]:
import pandas as pd
import numpy as np
import requests
import warnings

warnings.filterwarnings('ignore')

In [3]:
api_key = '4eda5e3af511b6d4892332948b84476c'

In [4]:
url = 'https://webapi.bps.go.id/v1/api/list/model/data/domain/0000/var/{0}/key/{1}/'.format(205, api_key)
data_205 = requests.get(url).json()

In [9]:
vervar_df = pd.DataFrame(data_205['vervar'])
turvar_df = pd.DataFrame(data_205['turvar'])
tahun_df = pd.DataFrame(data_205['tahun'])
content_df = pd.DataFrame(data={'id': data_205['datacontent'].keys(), 'values': data_205['datacontent'].values() })

content_df_1 = content_df.merge(vervar_df, how='left', left_on = content_df['id'].str[:4].astype('int64'), right_on = 'val')
content_df_2 = content_df_1.merge(turvar_df, how='left', left_on = content_df_1['id'].str[7:10].astype('int64'), right_on = 'val') 
content_df_3 = content_df_2.merge(tahun_df, how='left', left_on = content_df_2['id'].str[10:13].astype('int64'), right_on = 'val') 

data_205_df = content_df_3[['id', 'values', 'label_x', 'label_y', 'label']]
data_205_df.columns = ['id', 'values', 'area', 'age_breakdown', 'year']

data_205_df['data_title'] =  data_205['var'][0]['label']

# Test Looping to create new variable

In [11]:
edu_var_id = [301,  303,  304, 1339, 1342, 1343, 1417, 1419, 1421,
       1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1439,
       1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450,
       1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461,
       1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1526, 1527, 1607,
       1608, 1794, 1796, 1797, 1798, 1799, 1980, 1981, 1982, 1983, 1984,
       1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000]

In [19]:
new_id_list = []
df_name_list = []
for i in edu_var_id:
    new_id_list.append('data_' + str(i))

for j in new_id_list:
    df_name_list.append(str(j)+'_df')

need to create looping over the variable list, then create new df on each

In [24]:
def extract_data_all(var_id):
    url = 'https://webapi.bps.go.id/v1/api/list/model/data/domain/0000/var/{0}/key/{1}/'.format(var_id, api_key)
    data_temp = requests.get(url).json()

    vervar_df = pd.DataFrame(data_temp['vervar'])
    turvar_df = pd.DataFrame(data_temp['turvar'])
    tahun_df = pd.DataFrame(data_temp['tahun'])
    content_df = pd.DataFrame(data={'id': data_temp['datacontent'].keys(), 'values': data_temp['datacontent'].values() })

    content_df_1 = content_df.merge(vervar_df, how='left', left_on = content_df['id'].str[:4].astype('int64'), right_on = 'val')
    content_df_2 = content_df_1.merge(turvar_df, how='left', left_on = content_df_1['id'].str[7:10].astype('int64'), right_on = 'val') 
    content_df_3 = content_df_2.merge(tahun_df, how='left', left_on = content_df_2['id'].str[10:13].astype('int64'), right_on = 'val') 

    temp_df = content_df_3[['id', 'values', 'label_x', 'label_y', 'label']]
    temp_df.columns = ['id', 'values', 'area', 'age_breakdown', 'year']

    temp_df['data_title'] =  data_temp['var'][0]['label']

    return temp_df

In [25]:
abcd = extract_data_all(301)

NameError: name 'data_301' is not defined

In [23]:
abcd.head()

,id,values,area,age_breakdown,year,data_title
0,99993015351030,96.42,INDONESIA,7-12,2003,Angka Partisipasi Sekolah ( A P S )
1,99993015351040,96.77,INDONESIA,7-12,2004,Angka Partisipasi Sekolah ( A P S )
2,99993015351050,97.14,INDONESIA,7-12,2005,Angka Partisipasi Sekolah ( A P S )
3,99993015351060,97.39,INDONESIA,7-12,2006,Angka Partisipasi Sekolah ( A P S )
4,99993015351070,97.64,INDONESIA,7-12,2007,Angka Partisipasi Sekolah ( A P S )